body{
  margin: 0;
}
.header {
    background-color: #b5976f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    max-height: 100px;
    
  
    ul {
      li {
        display: inline-block;
        margin: 20px;
  
        a {
          text-decoration: none;
          color: #000;
          font-size: 60px;

          &:hover{
            color: white;
            font-size: 80px;
          }
        }

      }
    }
  }