body {
    max-width: 1440px;
    margin: 0;
    padding: 0;

}

.bookStyle {
    max-width: 1440px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;


}

.containerBook {
    max-width: 300px;
    padding-top: 15px;
    border: 2px solid #9a7a4f;
    text-align: center;
    position: relative;
    overflow: hidden;

   
    h2 { 
        margin: 10px 5px 20px;
        text-align: center;
        font-size: 22px;
        font-weight: 300;
    }
}

img {
    max-width: 90px;
    max-height: 130px;
}

.buttonRead {
    border: 0;
    width: 100px;
    height: 30px;
    background-color: #9f5a00;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
}

a {
    text-decoration: none;
    color: white;
}

.searchInput {
    margin: 100px;
    max-width: 1440px;


}