@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body{
    margin: 0;
    padding: 35px;
    max-width: 1440px;
    background-color: #deb887 ;
    font-family: 'Roboto', sans-serif;
}