@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
body{
    margin: 0;
    padding: 35px;
    max-width: 1440px;
    background-color: #deb887 ;
    font-family: 'Square Peg', cursive;
    
}